<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argon" version="0.3.3" targetFramework="net48" />
  <package id="DiffEngine" version="11.1.0" targetFramework="net48" />
  <package id="EmptyFiles" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="SimpleInfoName" version="2.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Verify" version="19.9.2" targetFramework="net48" />
  <package id="Verify.NewtonsoftJson" version="1.1.0" targetFramework="net48" />
</packages>